<%= form_with(model: @apartment, local: true, url: choose_new_or_edit ) do |form| %>

  <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= @apartment.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @apartment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>物件編集</h1>
  <div class="apartment_name">
    <%= form.label :"物件名" %>
    <br>
    <%= form.text_field :apartment_name %>
  </div>
  <div class="apartment_rent">
    <%= form.label :"賃料" %>
    <br>
    <%= form.text_field :rent %>
  </div>
  <div class="apartment_address">
    <%= form.label :"住所" %>
    <br>
    <%= form.text_field :address %>
  </div>
  <div class="apartment_year_old">
    <%= form.label :"築年数" %>
    <br>
    <%= form.text_field :year_old %>
  </div>
  <div class="apartment_remarks">
    <%= form.label :"備考" %>
    <br>
    <%= form.text_area :remarks %>
  </div>
  <%= form.submit "更新する"%>
<% end %>
<br>
<%= link_to '戻る', apartments_path %>

