<p>物件名: <%= @apartment.apartment_name %></p>
<br>
<p>賃料: <%= @apartment.rent %></p>
<br>
<p>住所: <%= @apartment.address %></p>
<br>
<p>築年数: <%= @apartment.year_old %></p>
<br>
<p>備考: <%= @apartment.remarks %></p>
<br>
<%= link_to '戻る', apartments_path %>